
@import 'fonts.css';

:root {
  --bs-font-sans-serif: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  --bs-font-monospace: 'Fira Mono', 'Andale Mono', monospace;
  --bs-body-font-weight: 300;
  --bs-root-font-size: 16px;
}

@media (min-width: 992px) {
  .page-columns {
      grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start] minmax(50px, 170px) [page-start-inset] 50px [body-start-outset] 50px [body-start] minmax(3em, 5fr) [body-content-start] minmax(300px, 800px) [body-content-end] minmax(3em, 5fr) [body-end] 50px [body-end-outset] minmax(0px, 100px) [page-end-inset] 50px [page-end] 7fr [screen-end-inset] 1.5em [screen-end] !important
  }
}

#quarto-sidebar,
#quarto-content .sidebar-navigation {
    border: none !important;
    color: #006EBB;
    background-color: #2e74b120;

    code {
        font-size: inherit;
        color: inherit;
        background-color: transparent;
    }

    .sidebar-item-container {

      a,
      .chapter-number {
          color: #006EBB;
      }

      a.active,
      a:hover {
          color: #006EBB;
      }
  }

  .sidebar-item-section>.sidebar-item-container:first-child a,
  .sidebar-item-section>.sidebar-item-container:first-child a.active,
  .sidebar-item-section>.sidebar-item-container:first-child a:hover {
      font-weight: bold;  
      color: #006EBB;
      background-color: transparent;
  }

}

#quarto-header .quarto-secondary-nav-title {
  text-align: center;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

pre.sourceCode{
    border-left-color: #f0f2f4;
}

div #header {
  background-color: #006EBB ;
  color: #FFFFFF;
  padding: 0px 10px 10px 10px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.book .book-body .page-wrapper .page-inner {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  
}

h1 {
  color: #006EBB;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
}

h2 {
  color: #006EBB;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
}

h3 {
  font-weight: bold;
  color: #006EBB;
  padding: 0px 10px 0px 10px;
  text-decoration-style: underline;
  text-decoration-color: #275662;
}

.header-section-number {
  color: #006EBB;
}


a.anchor-section::before {
  color: #275662;
  text-decoration-color: #275662;
}

a {
  color: #00a3a6;
}

.book-summary ul.summary li.active > a {
  color: #ead8a2 !important;
  background: 0 0;
  text-decoration: none;
}


.callout {
  margin-left: 0;
}

/*Parties du toc (parts) */
.text-start {
  text-align: left !important;
  font-weight: bold;
}


code {
  color: #bd008e;
}


div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
  color: #bd008e;
  font-weight: bold;
}


.sidebar-title {
    font-weight: bold;
    text-align: center;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  border-left: 1px solid #bd008e;
  color: #bd008e !important;
}

.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  border-left: 1px solid #bd008e;
  color: #bd008e !important;
}

/*
.sidebar .sidebar-logo {
  width: 80px;
}
*/
